/*El * es el selector por default para cambiar el contenido a toda la pagina*/
* {
    list-style-type: none;
    /*estilo de lista, con esto se saca los puntitos de las listas desordenadas*/
    margin: 3px;
    /*Aca comprimimos los margenes*/
}

h1 {
    color: brown;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h2 {
    color: blueviolet;
    text-align: left;
}

/*
 De esta manera modificamos a todas las etiquetas p
 
p {
    color: cadetblue;
    text-align: center;
}
*/

/* De la siguiente manera podemos modificar solamente una etiqueta p a traves de un id */
#parrafoAzul{
    color:blue;
}

/* De la siguiente manera le damos atributos a clases puestas en el HTML */
.textoVerde{
    color:darkgreen;
}

/* Selectores descendientes - clase padre e hijo */
div h2{
    color: coral;
}

footer{
    text-align: center;
}

#btn{
    text-align: center;
    background-color:bisque;
    color: black;
    border: 8px solid red;
    height: 30px;
    width: 50px;
    position: absolute;
    border-radius: 10%;
    

}

#img{
    border-radius: 35%;
}
    